files:
  "/etc/nginx/conf.d/custom_nginx.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      worker_processes auto;

      events {
          worker_connections 1024;
      }

      http {
          include       /etc/nginx/mime.types;
          default_type  application/octet-stream;

          access_log    /var/log/nginx/access.log;
          error_log     /var/log/nginx/error.log;

          server {
              listen 80;
              server_name http://job-env.eba-h8qchmrz.eu-north-1.elasticbeanstalk.com/;

              location / {
                  proxy_pass http://job:4001;
                  proxy_http_version 1.1;
                  proxy_set_header Upgrade $http_upgrade;
                  proxy_set_header Connection 'upgrade';
                  proxy_set_header Host $host;
                  proxy_cache_bypass $http_upgrade;
              }
          }
      }
